.inner-hero {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50%;
	min-height:700px;
	padding-top:100px;
	@include max-width(700px) {
		min-height:850px;
		padding-top:50px;
	}
	.container-fluid {
		max-width:1500px;
	}
	.main {
		display:flex;
		justify-content:flex-end;
		.flex {
			display:flex;
			background:rgba(255,255,255,0.8);
			box-shadow:0 0 1em #000000;
			padding:30px 10px;
			width:65%;
			@include max-width($screen-sm) {
				flex-wrap:wrap;
				width:100%;
			}
			.picture, .form {
				@include max-width($screen-sm) {
					flex:1;
					width:100%;
				}
			}
			.picture {
				flex:1 1 40%;
				text-align: center;
				@include max-width($screen-sm) {
					flex:1 1 100%;
					order:2;
				}
				.btn-info {
					margin:20px auto;
					transition:all 0.3s ease-in-out;
					border:none;
					&:hover {
						background:$brand-primary;
					}
					a {
						display:block;
						color:#fff;
						text-decoration:none;
						padding:10px 20px;
					}
				}
			}
			.form {
				flex:1 1 50%;
				@include max-width($screen-sm) {
					flex:1 1 100%;
					order:1;
				}
				.group {
					position:relative;
				}
				.caldera-grid {
					.form-control {
						height:40px;
					}
					#fld_7683514_1 {
						height:auto !important;
					}
					.form-group {
						margin-bottom: 10px;
					}
					select {
						caret-color:$brand-primary;
						appearance:menulist;
					}
					::placeholder {
						color:$brand-primary;
					}
				}
				input, textarea, select {
					background:none;
					box-shadow:none;
					caret-color:$brand-primary;
					font-size:20px;
					color:$brand-primary;
					border:1px solid $brand-primary;
					::placeholder {
						color:$brand-primary;	
					}
					position:relative;
					&:after {
						content:'';
						position:absolute;
						width:100%;
						bottom:0;
						left:0;
						height:1px;
					}
				}
				span {
					content:'';
					width:100%;
					height:1px;
					left:0;
					border:1px solid rgba(255,255,255,0.4);
					border-radius:0.2em;
					transition:all 0.3s ease-in-out;
					transform-origin:top;
					top:90%;
					position:absolute;
					display:block;
					&.open {
						height:100%;
						top:0;
					}
				}
				.btn-info, .btn-default {
					background:$brand-info;
					margin:10px auto;
					display:block;
					padding:20px 30px;
					transition:all 0.3s ease-in-out;
					border:none;
					color:#fff;
					max-width:100%;
					text-align: center;
					&:hover {
						background:$brand-primary;
						color:#fff;
					}
					@include max-width(950px) {
						font-size:20px;
					}
					@include max-width(850px) {
						font-size:18px;
						padding:20px;
					}
					@include max-width($screen-xs) {
						font-size:16px;
						padding:20px 40px;
					}
					@include max-width(400px) {
						padding:20px;
					}
				}
			}
		}
	}
}
.inner-content {
	padding:60px 0 40px;
	.container-fluid {
		max-width:1500px;
	}
	.content {
		padding-bottom:60px;
		h1 {
			color:$brand-primary;
			text-transform: uppercase;
			margin-bottom:0;
			font-size:52px;
		}
		h2 {
			font-style:italic;
			color:$brand-info;
			font-size:30px;
			margin-top: 0;
			margin-bottom: 25px;
		}
		h3 {
			font-style:italic;
			color:$brand-primary;
			font-size:30px;

		}
		span.bold {
			font-weight:bold;
			font-style:italic;
			color:$brand-primary;
		}
		.callout-box {
			background:$brand-primary;
			color:#fff;
			text-align: center;
			font-size:30px;
			padding:30px 20px;
			margin:30px auto;
			a {
				color:$brand-info;
				transition:all 0.3s ease-in-out;
				text-decoration:none;
				&:hover {
					color:#fff;
				}
			}
		}
		.list-callout-box {
			background:lighten($brand-success, 10%);
			padding:40px 30px;
			margin:20px auto;
			h3 {
				color:$brand-info;
				font-size:40px;
				padding-left:30px;
			}
			.title {
				font-weight:bold;
				font-style:italic;
				color:$brand-primary;
				font-size:26px;
			}
			ul {
				list-style-type:none;
				li {
					border-bottom:solid 1px #D8D3C4; 
					padding:20px 0 0;
					color:$brand-primary;
					&:before {
						content:'\f19d';
						font-family:FontAwesome;
						margin-right:10px;
					}
				}
			}
		}
		ul {
			li {
				padding:10px 0; 
				a {
					color:$brand-info;
				}
			}
		}
		.quote {
			text-align: center;
			font-weight:bold;
			font-style:italic;
			color:$brand-primary;
		}
		.btn-info {
			margin:20px auto;
			display:block;
			transition:all 0.3s ease-in-out;
			border:none;
			&:hover {
				background:$brand-primary;
			}
			a {
				color:#fff;
				display:block;
				padding:20px;
				text-decoration:none;
			}
		}
		.cta-box {
			background:lighten($brand-success, 10%);
			border:10px solid $brand-success;
			color:$brand-primary;
			padding:30px;
			text-align: center;
			font-weight:bold;
			font-size:30px;
			a {
				color:$brand-info;
				text-decoration:none;
				font-style:italic;
				transition:all 0.3s ease-in-out;
				&:hover {
					color:$brand-primary;
				}
			}
		}
		&.contact {
			h2 {
				font-weight:600;
				font-size:44px;
				font-style:normal;
			}
			p {
				font-size:26px;
				span {
					font-weight:bold;
				}
			}
			a {
				text-decoration:none;
			}
			.about-us-box {
				background:$brand-primary;
				padding:30px;
				border-radius:0.5em;
				box-shadow:0 0 0em 0.25em #00263A;
				border:0.25em solid $brand-success;
				a {
					color:#fff;
					text-decoration:none;
					display:block;
					transition:all 0.3s ease-in-out;
				}
				&:hover {
					.learning {
						background:#fff;
						a {
							color:$brand-primary;
						}
					}
				}
				.icon-container {
					background-image:url('../images/ribbon-bg.png');
					background-repeat:no-repeat;
					background-size:contain;
					background-position:center;
					padding:20px;
					text-align: center;
					.fa-user {
						font-size:50px;
						color:$brand-info;
					}
				}
				.learning {
					background:$brand-info;
					width:108.5%;
					text-align: center;
					color:#fff;
					display:block;
					padding:10px;
					margin:25px -29px 0;
					transition:all 0.3s ease-in-out;
				}
			}
			.col-sm-6 {
				&:first-child {
					@include max-width($screen-sm) {
						margin-bottom:40px;
					}
					.container-fluid {
						max-width:800px;
						padding-top:50px;
					}
				}
				&:last-child {
					background-image:url('../images/contact-bg.jpg');
					background-size:cover;
					height:100%;
					min-height:500px;
					margin:-20px -60px -60px 0;
					padding-top:50px;
					@include max-width($screen-sm) {
						margin:0;
					}
					h2 {
						text-align: center;
						color:$brand-primary;
						text-transform: uppercase;
					}
					.contact-page-form {
						background:rgba($brand-primary, 0.9);
						padding:40px;
						form {
							display:flex;
							flex-wrap:wrap;
						}
						.group {
							position:relative;
							flex:1 1 45%;
							margin:0 15px;
						}
						input, textarea, select {
							background:none;
							border:none;
							box-shadow:none;
							caret-color:#fff;
							margin-top:10px;
							color:rgba(lighten($brand-primary, 30%), 0.7);
						}
						::placeholder {
							color:rgba(lighten($brand-primary, 30%), 0.7);	
						}
						span {
							content:'';
							width:100%;
							height:1px;
							left:0;
							border:1px solid rgba(255,255,255,0.4);
							border-radius:0.2em;
							transition:all 0.3s ease-in-out;
							transform-origin:top;
							top:90%;
							position:absolute;
							display:block;
							&.open {
								height:100%;
								top:0;
							}
						}
						.btn-info {
							margin:10px auto;
							display:block;
							padding:20px 30px;
							transition:all 0.3s ease-in-out;
							border:none;
							width:55%;
							&:hover {
								background:$brand-primary;
							}
						}
					}
				}
			}
		}
	}
	&.franchisees {
		padding-top:120px;
		h1 {
			text-transform: uppercase;
			color:$brand-primary;
		}
		.franchisee {
			display:flex;
			border-bottom:10px solid $brand-success;
			margin-bottom:25px;
			@include max-width($screen-sm) {
				flex-wrap:wrap;
			}
			.info {
				flex:1 1 55%;
				display:flex;
				flex-flow:column wrap;
				@include max-width($screen-sm) {
					flex:1 1 100%;
				}
			}
			.picture {
				flex:1 1 20%;
				margin-top:35px;
				margin-right:25px;
				margin-bottom:25px;
				@include max-width($screen-sm) {
					flex:1 1 100%;
				}
				img {
					border-radius:0.5em;
					border:5px solid $brand-info;
				}
			}
			&:nth-child(2n) {
				.picture {
					order:2;
					margin-right:0;
					margin-left:25px;
					@include max-width($screen-sm) {
						order:1;
					}
				}
				.info {
					order:1;
					@include max-width($screen-sm) {
						order:2;
					}
				}
			}
		}
	}
}
.steps {
	background:$brand-primary;
	border-bottom:5px solid #D8D3C4;
	padding:30px 0;
	.flex {
		display:flex;
		@include max-width(900px) {
			flex-wrap:wrap;
		}
		.previous, .next {
			flex:1 1 40%;
			a {
				display:flex;
				color:#fff;
				text-decoration:none;
				@include max-width(900px) {
					flex:1 1 100%;
					justify-content:center;
					width:100%;
				}
				.arrow {
					display:flex;
					align-items:center;
					transition:all 0.2s ease-in-out;
					@include max-width($screen-sm) {
						display:none;
					}
					i {
						color:$brand-info;
						font-size:50px;
					}
				}
				.info {
					text-align: center;
					.h5 {
						color:$brand-success;
						font-size:26px;
						margin-bottom: 0;
					}
					.step {
						font-size:50px;
						text-transform: uppercase;
						font-weight:600;
						margin-top: 0;
					}
				}
			}
		}
		.previous {
			&:hover {
				.arrow {
					transform:translateX(-30%);
				}
			}
			.arrow {
				margin-right:45px;
			}
		}
		.next {
			&:hover {
				.arrow {
					transform:translateX(30%);
				}
			}
			.arrow {
				margin-left:45px;
			}
		}
		.split {
			flex:1 1 20%;
			text-align: center;
			@include max-width(900px) {
				display:none;
			}
			.box {
				background:#828E8D;
				max-width:5px;
				height:100%;
				margin:0 auto;
				display:block;
			}
		}
	}
}

.contact-us {
	background-image:url('../images/contact-bg.jpg');
	text-align: center;
	padding:40px 0 80px;
	border-bottom:5px solid $brand-info;
	h3 {
		color:$brand-primary;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	h2 {
		text-transform: uppercase;
		margin-top: 0;
		font-weight:600;
		font-size:56px;
	}
	.cta {
		display:flex;
		justify-content:center;
		@include max-width($screen-sm) {
			flex-wrap:wrap;
		}
		> * {
			margin:0 20px;
			@include max-width($screen-sm) {
				flex:1 1 100%;
			}
		}
		.call {
			color:$brand-primary;
			border-bottom:1px solid $brand-primary;
			display:flex;
			align-items:center;
			font-style:italic;
			font-weight:600;
			font-size:26px;
			@include max-width($screen-sm) {
				justify-content:center;
				margin-bottom:20px;
			}
			span {
				color:$brand-info;
				font-weight:600;
				font-size:28px;
				margin-left:5px;
				font-style:normal;
			}
		}
		.or {
			display:flex;
			align-items:center;
			color:$brand-primary;
			font-style:italic;
			font-size:26px;
			@include max-width($screen-sm) {
				justify-content:center;
				margin-bottom:20px;
			}
		}
		.btn-info {
			transition:all 0.3s ease-in-out;
			&:hover {
				background:$brand-primary;
			}
			a {
				color:#fff;
				text-decoration:none;
				display:block;
				padding:10px 30px;
			}
		}
	}
}
.contact-content {
	background-image:url('../images/contact-page-bg.jpg');
	padding-bottom:100px;
	h3 {
		text-align: center;
		color:$brand-primary;
		text-transform: uppercase;
		font-weight:600;
		font-size:46px;
		span {
			display:block;
			color:$brand-info;
		}
	}
	.first-section, .second-section, .third-section, .fourth-section {
		position:relative;
		img {
			transform:scale(1.2);
			@include max-width(1100px) {
				display:none;
			}
		}
		.content {
			position:absolute;
			@include center(x);
			top:20px;
			display:flex;
			color:#fff;
			width:70%;
			@include max-width(1100px) {
				background:$brand-primary;
				position:relative;
				top:0;
				width:100%;
				margin-bottom:20px;
			}
			@include max-width($screen-xs) {
				flex-wrap:wrap;
			}
			.number {
				flex:1 1 10%;
				display:flex;
				align-items:center;
				justify-content:center;
				font-family:'Sullivan';
				font-size:100px;
				@include max-width($screen-xs) {
					flex:1 1 100%;
				}
			}
			.info {
				flex:1 1 60%;
				display:flex;
				justify-content:center;
				flex-direction:column;
				@include max-width($screen-xs) {
					flex:1 1 100%;
					margin:20px;
				}
				p {
					margin:0;
					&:first-child {
						font-size:24px;
						font-weight:600;
						text-transform: uppercase;
					}
					&.a, &.b, &.c {
						font-size:20px;
					}
				}
			}
			&.doubles {
				width:100%;
				top:35px;
				@include max-width(1100px) {
					top:0;
				}
				.flex {
					display:flex;
					justify-content:space-between;
					width:100%;
					color:$brand-info;
					@include max-width(1100px) {
						color:#fff;
						flex-wrap:wrap;
					}
					.info {
						flex: 1 1 70%;
					}
				}
				.left, .right {
					display:flex;
					@include max-width(1100px) {
						margin:20px;
						flex:1 1 45%;
					}
					@include max-width($screen-xs) {
						flex-wrap:wrap;
					}
					.number, .info {
						@include max-width($screen-xs) {
							flex:1 1 100%;
						}
					}
				}
				&.bottom {
					width:115%;
					@include max-width(1100px) {
						width:100%;
					}
					.flex {
						color:$brand-primary;
						@include max-width(1100px) {
							color:#fff;
						}
					}
					.info {
						flex:1 1 60%;
						p.a, p.b, p.c {
							@include max-width(1250px) {
								width:80%;
							}
							@include max-width($screen-xs) {
								width:100%;
							}
						}
					}
				}
			}
		}
	}
}
.available-markets {
	margin-bottom:80px;
	.container-fluid {
		max-width:1500px;
	}
	.map-bg {
		background-image:url('../images/market-bg.jpg');
		background-repeat:no-repeat;
		padding:20px;
		@include max-width($screen-sm) {
			background-size:100% 100%;
		}
 		.head {
			position:relative;
			padding:30px 0;
			h3 {
				color:$brand-info;
				font-style:italic;
				text-align: center;
				background:#FBFAF8;
				position:absolute;
				@include center(x);
				top:5px;
				padding:0 40px;
				@include max-width($screen-sm) {
					position:relative;
					background:none;
				}
			}
		}
		.market-box {
			border:.25em solid $brand-success;
			display:flex;
			@include max-width(1000px) {
				flex-wrap:wrap;
			}
			div {
				flex:1 1 30%;
				margin:50px 25px;
				@include max-width($screen-sm) {
					flex:1 1 100%;
					margin:10px;
				}
				ul {
					list-style-type:none;
					padding-left:0;
					margin-top:30px;
					li {
						font-size:26px;
						padding:10px 0;
						border-bottom:1px solid #D8D3C4;
						i {
							color:$brand-primary;
							font-size:26px;
						}
					}
				}
			}
		}
	}
}